@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

html, body {
    padding: 0px;
    margin: 0px;
    
    height: 100%;
    
    
    font-family: 'Open Sans', sans-serif;
    
    overflow: hidden;
}

.container { 
    position: relative;
    
    top: calc(50% - 48px);
}

.footerbox {
    position: absolute;
    height: 64px;
    width: 100%;
    line-height: 16px;
    
    top: calc(100% - 64px);
}

.footernote {
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 12px;
}

.hiddenright{
    position: fixed;
    
    top: 0px;
    
    height: 100%;
    width: 48px;
    
    background: black;
    opacity: 0;
    
    right: 0;
    z-index: -10;
    
}

.hiddenleft {
    position: fixed;
    
    top: 0px;
    
    height: 100%;
    width: 48px;
    
    background: black;
    opacity: 0;
    
    left: 0;
    z-index: -10;
    
}

.rightmenu {
    position: fixed;
    
    
    width: 32px;
    height: 152px;
    
    top: calc(50% - 76px);
    right: -40px;
    
    transition: right 500ms linear;
    -webkit-transition: right 500ms linear;
    -moz-transition: right 500ms linear;
    -o-transition: right 500ms linear;
    
}

.rightmenu:hover {
    right: 8px;

}

.leftmenu {
    position: fixed;
    
    width: 32px;
    height: 152px;
    
    top: calc(50% - 76px);
    left: -40px;
    
    transition: left 500ms linear;
    -webkit-transition: left 500ms linear;
    -moz-transition: left 500ms linear;
    -o-transition: left 500ms linear;    
    
}

.leftmenu:hover {
    left: 8px;
}


.firstnav {
    height: 32px;
    background: black;
    
    margin-top: 0px;
    
    opacity: 0.1;

}

.firstnav:hover{
    opacity: 1;
}

.secondnav {
    height: 32px;
    background: black;
    
    margin-top: 8px;
    
    opacity: 0.1;

}

.secondnav:hover{
    opacity: 1;
}

.thirdnav {
    height: 32px;
    background: black;
        
    margin-top: 8px;
    
    opacity: 0.1;

}

.thirdnav:hover{
    opacity: 1;
}

.fourthnav {
    height: 32px;
    background: black;
       
    margin-top: 8px;
    
    opacity: 0.1;

}

.fourthnav:hover{
    opacity: 1;
}



.rect {
    height: 64px;
    width: 64px;
  
    margin: 0 auto;
    
    position: relative;
    
    animation: rectani 10s infinite;
    -webkit-animation: rectani 10s infinite;
    
}

.red:hover{
    
}

@keyframes rectani {
    0% {background: #9D2053}
    25% {background: #7A1E48}
    50% {background: #571B3C}
    75% {background: #341931}
    100% {background: #9D2053}
}

@-webkit-keyframes rectani {
    0% {background: #9D2053}
    25% {background: #7A1E48}
    50% {background: #571B3C}
    75% {background: #341931}
    100% {background: #9D2053}
}

.snippet {
    font-size: 16px;
    text-align: center;


}

.blank {
    height: 16px;
}

/*blink*/
       .typed-cursor{
            opacity: 1;
            font-weight: 500;
            -webkit-animation: blink 1s infinite;
            -moz-animation: blink 1s infinite;
            -ms-animation: blink 1s infinite;
            -o-animation: blink 1s infinite;
            animation: blink 1s infinite;
        }
        @-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-webkit-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-ms-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-o-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }