html, body {
    padding: 0px;
    margin: 0px;
    background: #fff;
    height: 100%;

    
    position: relative;
    font-family: 'open sans' sans-serif;
}

.rect {
    width: 64px;
    height: 64px;
    background: #000;
    opacity: 0.5;
    
    position: absolute;
    
    margin: 0;
    
    top: 47%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    -webkit-transition:background 500ms ease-in-out, opacity 500ms linear;
    -moz-transition:background 500ms ease-in-out, opacity 500ms linear;
    -o-transition:background 500ms ease-in-out, opacity 500ms linear;
    transition:background 500ms ease-in-out, opacity 500ms linear;
    
}

.rect:hover {
    opacity: 1;
    background: #000;
}

.maindiv {
    margin: 0;
    top: 53%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    position: absolute;
}

.innerdiv {
    width: 100%;
    height: auto;
    

    font-weight: 600;
    font-size: 16px;
        
    text-align: center;
    
    color: #000;
}

        .typed-cursor{
            opacity: 1;
            font-weight: 700;
            -webkit-animation: blink 1s infinite;
            -moz-animation: blink 1s infinite;
            -ms-animation: blink 1s infinite;
            -o-animation: blink 1s infinite;
            animation: blink 1s infinite;
        }
        @-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-webkit-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-ms-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-o-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }