@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    
html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow: hidden;

    font-family: 'Open Sans', sans-serif;
}

#home {
    height: 100%;
    background: #fff;
}

.container {
    height: 100%;
}

.inner {
    position: relative;
    top: calc(50% - 64px);
    text-align: center;
}

.notebox {
    position: absolute;
    height: 64px;
    width: 100%;
    line-height: 64px;

    top: calc(100% - 64px);
}

.note {
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 12px;
}

.rect {
    background: url(../assets/image.png) no-repeat center center;
    background-size: cover;
    height: 128px;
    width: 256px;

    margin: 0 auto;

    position: relative;
}

.blank {
    height: 16px;
}

    
    
}